section {
    height: 100px;
    background-color: var(--primary-color);
    border-bottom: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 128px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.logo {



    object-fit: contain;
    width: 100px;

}

.mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    width: 160px;

    a {
        font-size: 25px;
        &:hover {
            color: var(--primary-color);
        }
    }
}

.mobile-menu {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    display: none;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;


    img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(108%) contrast(103%);
    }
}

@media (max-width: 1024px) {
    .mobile-menu {
        display: flex;
    }

    nav {
        display: none;
    }
}

@media (max-width: 600px) {
    .logo {
        img {
            width: 80px;
        }

    }

    .content {
        padding: 0 12px;
    }

}