section {
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url(/assets/gallery/Katrin_&_James_170623_2-55.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    color: white;
    font-weight: bold;
}

p {
    color: white;
}

.next-button-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}