section {
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url('../../../assets/gallery/hero.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

.next-button-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.primary-button {
    margin-top: 24px;
    border-radius: 10px;

    &:hover {
        >a {
            color: white;
        }
    }
}