<section>
    <div class="content">
        <div class="next-button-canvas">
            <h1>Dein Gesicht. Deine Geschichte.</h1>
            <p>Professionelle Porträtfotos in Essen und im gesamten Ruhrgebiet.
                Ob Business, Lifestyle, Künstlerporträts oder persönliche Portraits, ich setze dich so in Szene, wie du
                wirklich bist.</p>
            <div class="primary-button">
                <span>Weiterlesen -></span>
            </div>
        </div>
    </div>
</section>