<section>
    <div class="content">
        <div class="gallery-container">
            <div class="frame">
                <div class="img-container">
                    <img src="assets/gallery/ba_DSC3384.jpg" alt="">
                </div>
                <div class="text-container">
                    <h3>Porträtfotografie</h3>
                    <p>Ob ausdrucksstark, natürlich oder klassisch – ich halte deine Persönlichkeit in einzigartigen
                        Porträts fest. In entspannter Atmosphäre entstehen authentische Bilder, die dich so zeigen, wie
                        du wirklich bist. Ideal für Bewerbungen, Social Media, Business oder einfach für dich selbst.

                        Lass uns gemeinsam dein bestes Bild schaffen!
                    </p>
                    <div class="container-footer">
                        <div class="secondary-button">
                            <span>Galerie</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>