<section>
    <div class="content">
        <div class="logo">
            <img src="assets/logo/Logo_Bine_Text_mint.png" alt="photo by Bine Logo">
        </div>
        <div class="left-side">
            <div class="links">
                <h3>Links</h3>
                <a href="https://merch24.eu/contact" target="_blank">Kontakt</a>
                <a href="https://merch24.eu/impressum" target="_blank">Impressum</a>
                <a href="https://merch24.eu/withdrawal" target="_blank">Widerrufsbelehrung</a>
                <a href="https://merch24.eu/privacy-policy" target="_blank">Datenschutzerklärung</a>

            </div>
            <div class="links">
                <h3>Anfahrt</h3>
                <span>Dahnstr. 18 <br>
                    45144 Essen (Frohnhausen)</span>
                <a target="_blank"
                    href="https://www.google.com/maps/place/Dahnstra%C3%9Fe+18,+45144+Essen/@51.4506835,6.9772307,18.5z/data=!4m6!3m5!1s0x47b8c2f2125439f5:0x62299bf69ae321e1!8m2!3d51.4507772!4d6.9780159!16s%2Fg%2F11c3q3n_8s?entry=ttu&g_ep=EgoyMDI1MDgxMi4wIKXMDSoASAFQAw%3D%3D">Auf
                    Google Maps anzeigen</a>

            </div>
            <div class="links">
                <h3>Öffnungszeiten</h3>
                <table>
                    <tr>
                        <th scope="row">Montag - Freitag</th>
                        <td><time datetime="10:00">10:00</time> - <time datetime="18:00">18:00</time> Uhr</td>
                    </tr>
                    <tr>
                        <th scope="row">Samstag</th>
                        <td>Nach Vereinbarung</td>
                    </tr>
                </table>

            </div>
            <div class="social-media">

                <a target="_blank" href="https://www.instagram.com/merch24_essen/?igsh=bjNhMDJoM2ttY2I0#"><img
                        src="assets/logo/instagram.png" alt=""></a>
                <!-- <img src="assets/img/logo/facebook.png" alt=""> -->

            </div>

        </div>



        <!-- <p class="developer">Designed & Developed by Bence Cservenyak</p> -->
    </div>

</section>
